<div *ngIf="persistedItemsPager.hasError" xgbToast toast-error>{{persistedItemsPager.errorMessage}}</div>
<div *ngIf="topic && topic.isCollection()" xgbToast toast-error>Persisted Items are not supported on collections</div>
<xgb-spinner *ngIf="!topic"></xgb-spinner>
<ng-container *ngIf="topic && !topic.isCollection()">
  <xgb-action-bar>
    <button xgbActionButton [routerLink]="['new']">Publish new item</button>
    <button xgbActionButton danger *ngIf="persistedItemsPager.items.length > 0" (click)="purgeItems()">
      Purge persisted items
    </button>
  </xgb-action-bar>
  <xgb-list>
    <xgb-list-item *ngFor="let item of persistedItemsPager.items">
      <div class="item-title" (click)="itemClicked(item)">{{item.id}}</div>
      <xgb-list-action>
        <button xgbActionButton (click)="removeItem(item)">remove</button>
      </xgb-list-action>
      <xgb-list-body *ngIf="toggleMap[item.id]">
        <div *ngIf="item.rawXML; else itemSpinner">
          <pre class="code">{{item.rawXML}}</pre>
        </div>
        <ng-template #itemSpinner>
          <xgb-spinner></xgb-spinner>
        </ng-template>
      </xgb-list-body>
    </xgb-list-item>
    <div class="empty" *ngIf="persistedItemsPager.isLoaded && persistedItemsPager.items.length == 0">
      <p class="empty-title h5">No Persisted Items found</p>
    </div>
  </xgb-list>
  <xgb-spinner *ngIf="!persistedItemsPager.hasError && !persistedItemsPager.isLoaded"></xgb-spinner>
  <div *ngIf="persistedItemsPager.hasMore" class="has-more">
    <button xgbActionButton (click)="persistedItemsPager.loadMore()">load more</button>
  </div>
</ng-container>

