:host {
  display: block;
  border-bottom: .05rem solid #e7e9ed;
  padding: .6rem .4rem;
}

:host:nth-child(2n+1) {
  background-color: #f8f9fa;
}

.list-item-header {
  width: 100%;
  display: flex;
}

.list-item-title {
  flex-grow: 1;
}
