<ng-container *ngIf="!errorMessage && isLoaded">
  <xgb-action-bar>
    <button xgbActionButton (click)="newSubscription()">New Subscription</button>
  </xgb-action-bar>
  <xgb-list>
    <xgb-list-item *ngFor="let subscription of subscriptions">
      <span class="jid">{{subscription.jid}}</span>
      <i *ngIf="subscription.state == 'pending'" class="state icon icon-time" title="pending"></i>
      <i *ngIf="subscription.state == 'unconfigured'" class="state icon icon-cross" title="unconfigured"></i>
      <xgb-list-action>
        <button xgbActionButton (click)="modify(subscription)">modify</button>
        <button xgbActionButton (click)="unsubscribe(subscription)">unsubscribe</button>
      </xgb-list-action>
    </xgb-list-item>
    <div class="empty" *ngIf="subscriptions.length == 0">
      <p class="empty-title h5">No Subscriptions found</p>
    </div>
  </xgb-list>
</ng-container>
<xgb-spinner *ngIf="!isLoaded"></xgb-spinner>
<div *ngIf="errorMessage" xgbToast toast-error>{{errorMessage}}</div>
