<div *ngIf="errorMessage" xgbToast toast-error>{{errorMessage}}</div>

<form (submit)="submit(f)"
      ngForm
      #f="ngForm">
  <textarea
    xgbSetFocus
    name="body"
    class="item-content"
    placeholder="Enter XML-payload here"
    xgbFormInput
    ngModel
    (keyup.control.enter)="submit(f)"
    required></textarea>
  <xgb-action-bar>
    <button xgbActionButton
            primary
            [disabled]="!f.form.valid"
            type="submit">
      Publish new Item
    </button>
  </xgb-action-bar>
</form>
