<form *ngIf="formGroup"
      xgbForm
      [formGroup]="formGroup"
      (keyup.enter)="onFormSubmit()"
      (ngSubmit)="onFormSubmit()">

  <xgb-form-field *ngIf="topic"
                  fieldId="nodeID"
                  [fieldLabel]="topic.isCollection()? 'Collection Identifier' : 'Topic Identifier'"
                  fieldHelp="The unique identifier for a node within the context of a pubsub service.">
    <input type="text"
           xgbFormInput
           id="nodeID"
           [value]="topic.title"
           disabled>
  </xgb-form-field>


  <xgb-form-field *ngIf="specificFormFields['pubsub#title']"
                  fieldId="title"
                  [fieldLabel]="(!topic? 'Topic / Collection' : topic.isCollection()? 'Collection' : 'Topic') + ' Title'"
                  [fieldHelp]="specificFormFields['pubsub#title'].label">
    <input type="text"
           xgbFormInput
           formControlName="pubsub#title"
           id="title"
           [placeholder]="'Enter ' + (!topic? 'Topic / Collection' : topic.isCollection()? 'Collection' : 'Topic') + ' Title'"
    >
  </xgb-form-field>

  <xgb-collapsible *ngIf="specificFormFields['pubsub#collection']"
                   title="Collections">
    <xgb-topic-chooser [type]="specificFormFields['pubsub#collection'].type"
                       formControlName="pubsub#collection">
    </xgb-topic-chooser>
  </xgb-collapsible>

  <xgb-collapsible *ngIf="specificFormFields['pubsub#children']"
                   title="Children">
    <xgb-topic-chooser
      formControlName="pubsub#children">
    </xgb-topic-chooser>
  </xgb-collapsible>

  <xgb-collapsible
    title="Advanced">
    <xgb-generic-form-config
      [xmppDataForm]="advancedConfigForm"
      [formGroup]="formGroup">
    </xgb-generic-form-config>
  </xgb-collapsible>

  <ng-content></ng-content>

</form>
<button type="submit"
        (click)="onFormSubmit()"
        xgbActionButton
        primary>
  {{submitLabel}}
</button>
