<div *ngIf="errorMessage" xgbToast toast-error>{{errorMessage}}</div>

<form (submit)="submit(f)"
      xgbForm
      ngForm
      #f="ngForm">
  <xgb-form-field fieldId="jid"
                  fieldLabel="Subscription JID"
                  fieldHelp="Specifies the exact XMPP address to be used as the subscribed JID -- often a bare JID (<localpart@domain.tld> or <domain.tld>) or full JID (<localpart@domain.tld/resource> or <domain.tld/resource>).">
    <input type="text"
           xgbFormInput
           xgbSetFocus
           placeholder="Enter Subscription JID"
           id="jid"
           name="jid"
           ngModel
           required>
  </xgb-form-field>
  <xgb-action-bar>
    <button xgbActionButton
            primary
            [disabled]="!f.form.valid"
            type="submit">
      Create new Subscription
    </button>
  </xgb-action-bar>
</form>
