xgb-list-action {
  margin-left: 2rem;
}

xgb-list-action select {
  width: auto;
}

/* new jid */
.new-jid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jid {
  flex-grow: 1;
  margin-right: 2rem;
}

.actions select {
  width: auto;
}

.form-input-hint {
  margin-bottom: 0;
}
