<xgb-spinner *ngIf="formProcessing.processing"></xgb-spinner>

<div *ngIf="!formProcessing.processing && formProcessing.error" xgbToast toast-error>{{formProcessing.error}}</div>
<div *ngIf="!formProcessing.processing && formProcessing.success" xgbToast toast-success>
  {{formProcessing.success}}
</div>

<xgb-topic-config *ngIf="initialFormLoaded && !formProcessing.processing"
                  [topic]="topic"
                  [xmppDataForm]="loadedForm"
                  submitLabel="Update"
                  (configSubmitted)="submit($event)">
  <xgb-collapsible title="Danger Zone">
    <button xgbActionButton danger (click)="deleteTopic($event)">
      Delete {{topic.isCollection()? "Collection": "Topic"}} {{topic.title}}
    </button>
  </xgb-collapsible>
</xgb-topic-config>
