<div *ngIf="topicList.hasError" xgbToast toast-error>{{topicList.errorMessage}}</div>

<ng-container>
  <xgb-list *ngIf="topicList.items">
    <xgb-list-item *ngFor="let node of topicList.items" (click)="topicClick(node)">{{node.title}}</xgb-list-item>
    <div class="empty" *ngIf="topicList.isLoaded && topicList.items.length == 0">
      <p class="empty-title h5">No Topics found</p>
    </div>
  </xgb-list>
  <xgb-spinner *ngIf="!topicList.hasError && !topicList.isLoaded"></xgb-spinner>
  <div *ngIf="topicList.hasMore" class="has-more">
    <button xgbActionButton (click)="topicList.loadMore()">load more</button>
  </div>
</ng-container>

